@model IBuS_6._0.Models.ForgotPasswordViewModel
@{
    Layout = null;
}

<span class="backToIndex" data-placement="left" title="Voltar a pagina inicial">
    <a href="/Home"></a>
</span>
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "box", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <h1>Esqueceu sua senha?</h1>
    @*<div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label",  })
        <div class="col-md-10">*@
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", Placeholder = "E-mail", Type = "email" })
    @*</div>
        </div>*@
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Enviar link por email" />
        </div>
    </div>
}
<link href="~/Content/css/LoginRegistro.css" rel="stylesheet" />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
